-e git+https://github.com/LandRegistry/audit-plugin.git#egg=audit
-e git+https://github.com/Runscope/healthcheck.git@9d661a916f3ab630ae21e014758aa2f21fd40097#egg=healthcheck
blinker
eventlet
Flask
Flask-BasicAuth
greenlet
eventlet
gunicorn
itsdangerous
Jinja2
MarkupSafe
raven
requests
Werkzeug
wsgiref
