{% extends "landregistry_base.html" %}

{% block content %}

<main id="wrapper" role="main">
  <div id="content">

    <div class="inner-block">

        <div class="text">
                <p>Details for the following title number {{ title_number }}</p>
                <p>House number: {{ house_number }}</p>
                <p>Road: {{ road }}</p>
                <p>Town: {{ town }}</p>
                <p>Postcode: {{ postcode }}</p>
                <p>Price paid: {{ pricepaid }}</p>

        </div>

    </div>

  </div>

</main>

{% endblock %}
