{% extends "global/govuk_template.html" %}


{% block head %}
  <link href="{{ landregistry_asset_path }}stylesheets/landregistry_main.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}


{% block header_class %}with-proposition{% endblock %}
{% block proposition_header %}
  <div class="header-proposition">
    <div class="content">
      <a href="/" id="proposition-name">Land registry style guide</a>
    </div>
  </div>
{% endblock %}


{% block cookie_message %}
  <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
{% endblock %}

{% block footer_support_links %}
  <ul>
    <li>Currently using <strong>{{ env_flag }}</strong> assets</li>
  </ul>
{% endblock %}