{% extends "propertyfrontend_base.html" %}

{% block page_title %}Page not found - 404{% endblock %}

{% block content %}

<main id="wrapper" role="main">

  <div id="content">

    {% include "inc_alpha_banner.html" %}

    <div class="inner-block">

        <h1 class="heading-xlarge">
          Page not found
        </h1>

      <div class="text">
        <p>If you entered a web address please check it was correct.</p>
        <p>You can also <a href="/search">search GOV.UK</a> or <a href="/">browse from the homepage</a> to find the information you need.</p>
      </div>

    </div>
  </div>

</main>

{% endblock %}