{% extends "propertyfrontend_base.html" %}

{% block page_title %}Find a property - GOV.UK{% endblock %}

{% block content %}
    <main id="wrapper" role="main">
        <div id="content">

            {% include "inc_alpha_banner.html" %}

            <div id="global-breadcrumb">
                <ol role="breadcrumbs">
                    <li><a href="https://www.gov.uk">Home</a></li>
                </ol>
            </div>

            <div class="outer-block">
                <div class="inner-block">

                    <div class="text">

                        <h1 class="heading-xlarge">
                            Find a property
                        </h1>

                        <p class="lede">Find out useful information about a property, including:</p>

                        <ul class="list-bullet">
                            <li>access to Land Registry title details</li>
                            <li>a map showing the extent of the property</li>
                            <li>the property’s energy performance certificate</li>
                            <li>local council information</li>
                            <li>flood risk</li>
                        </ul>

                    </div>

                    <form action="/search/results" method="get" class="form">
                        <div class="form-group">
                            <label class="form-label-bold" for="search-terms">
                                Search for a property
                                <span class="form-hint">
                                    You can use various terms such as a postcode or Land Registry title number
                                </span>
                            </label>
                            <input type="text" class="form-control" name="search" id="search-terms" />
                        </div>

                        <div class="form-group">
                            <button type="submit" class="button">Search</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </main>
{% endblock %}
