{% extends "propertyfrontend_base.html" %}
{% include "global/map_includes.html" %}

{% block content %}

<main id="wrapper" role="main">
  <div id="content">

    {% include "inc_alpha_banner.html" %}

    <div class="inner-block">
        <h2 class="heading-large content-title">Property details</h2>
    </div>

    <div class="grid-wrapper pw-summary">
        <div class="grid grid-1-2">
            <div class="inner-block">
                <h1 class="heading-xlarge">{{ title.title_number }}</h1>

                <div itemscope itemtype="http://schema.org/PostalAddress">
                            <span itemprop="streetAddress">
                                {{ title.property.address.address_line_1 }}<br>
                                {% if title.property.address.address_line_2 %}
                                    {{ title.property.address.address_line_2 }} <br>
                                {% endif %}
                                {% if title.property.address.address_line_3 %}
                                    {{ title.property.address.address_line_3 }}<br>
                                 {% endif %}
                                {% if title.property.address.address_line_4 %}
                                    {{ title.property.address.address_line_4 }}<br>
                                 {% endif %}
                            </span>
                    <span itemprop="addressLocality">{{ title.property.address.city }}</span><br>
                    <span itemprop="postalCode">{{ title.property.address.postcode }}</span>
                </div>

                <dl class="inline">
                    <dt>Tenure</dt>
                    <dd id="tenure">{{ title.property.tenure }}</dd>
                    <dt>Class of title</dt>
                    <dd id="class">{{ title.property.class_of_title }}</dd>
                    {% if title.payment.price_paid %}
                    <dt>Price paid</dt>
                    <dd id="pricePaid">&pound; {{ title.payment.price_paid | currency }}</dd>
                    {% endif %}
                </dl>

                {% if title.property.tenure == 'Leasehold' %}
                    <br/>
                    <h3>Lease Details</h3>
                    <dl class="inline">
                        {% for lease in title.leases %}
                            <dt>Lease Date</dt>
                            <dd id="leaseDate">{{ lease.lease_date | format_date_YMD }}</dd>
                            <dt>Term</dt>
                            <dd id="leaseTerm">{{ lease.lease_term }} years from {{ lease.lease_from | format_date_YMD }}</dd>

                            <dt>Parties</dt>
                            <dd id="parties">1. {{ lease.lessor_name }}<br/>
                                {% if lease.lessee_name %}
                                    2. {{ lease.lessee_name }}
                                {% else %}
                                    2. The names of this party are only available if you view the full register of title
                                {% endif %}
                            </dd>
                    </dl>

                    {% if lease.lease_easements == True and lease.alienation_clause == True and lease.title_registered == True %}
                    <h4>Clauses</h4>
                    {% endif %}

                    {% if lease.lease_easements == True %}
                        <p id="easementClause">Unless otherwise mentioned the title includes any legal easements granted
                            by the registered lease(s) but is subject to any rights that it reserves,
                            so far as those easements and rights exist and benefit or
                            affect the registered land.
                        </p><br/>
                    {% endif %}

                    {% if lease.alienation_clause == True %}
                        <p id="alienationClause">There are excepted from the effect of registration all estates. rights,
                            interests, powers and remedies arising upon, or by reason of, any
                            dealing made in breach of the prohibition or restriction against
                            dealings therewith inter vivos contained in the Lease.
                        </p><br/>
                    {% endif %}

                    {% if lease.title_registered == True %}
                        <p id="titleRegisteredClause">The registered Lease is made pursuant to Part V of the Housing Act 1985
                            and the land has the benefit of and is subject to the easements and rights
                            specified in paragraph 2 of Schedule 6 of the said Act.</p><br/>
                    {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="grid grid-1-2">
            <div class="inner-block">
                <div id="map" style="width: 100%; height: 300px">
                  <script type='text/javascript'>
                    var extentData = {{ title.extent | tojson}};
                    var apiKey = "{{ apiKey }}";
                  </script>
                  <script src="{{asset_path}}/javascripts/map.js"></script>
                </div>
            </div>
        </div>
    </div><!-- end grid-wrapper -->

    <div class="grid-wrapper">
        <div class="grid">
            <div class="inner-block">
                <a class="button" href="{{service_frontend_url}}/{{title.title_number}}">View full register</a>
                <p class="text">You will need to sign in with GOV.UK to view the full details on the register.</p>
            </div>
        </div>
    </div><!-- end grid-wrapper -->

  </div><!-- end content -->
</main>

{% endblock %}
