{% extends "govuk_template.html" %}


{% block head %}
  {% assets "css_main" %}
    <link href="{{ ASSET_URL }}" media="screen" rel="stylesheet" type="text/css">
  {% endassets %}
{% endblock %}


{% block header_class %}with-proposition{% endblock %}
{% block proposition_header %}
  <div class="header-proposition">
    <div class="content">
      <a href="/" id="proposition-name">Land Registry</a>
    </div>
  </div>
{% endblock %}


{% block cookie_message %}
  <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
{% endblock %}
